---
import { Markdown } from '@astropub/md'
import type { Project } from "@/data/projects";
import { Icon } from 'astro-icon/components'
import projects from "@/data/projects";
import Layout from "@/layouts/Layout.astro";

export async function getStaticPaths() {
  return projects.map((project) => ({
    params: {
      name: project.name,
    },
    props: {
      project,
    }
  }));
}

type Props = {
  project: Project
};

const { project } = Astro.props;
const raw = await fetch(`https://raw.githubusercontent.com/gabehamasaki/${project.name}/main/README.md`).then((res) => res.text());
---

<Layout title={project.title} description={project.title}>
  <main class="project mx-auto flex w-full flex-col gap-2">
    <header role="presentation" class="mb-4 flex items-center justify-between">
      <div class="flex flex-col gap-3">
        <a href="/" class="text-lg font-bold flex gap-2 items-center hover:underline">
          <Icon name="undo-2"/>
          Voltar
        </a>
        <h1 class="text-4xl text-white font-bold">
          {project.title}
        </h1>
      </div>
      <div>
        { project.isComingSoon && <p class="w-fit rounded-md bg-neutral-900 px-4 py-2">Soon</p>}
        { !project.isComingSoon && <a href={project.link} class="flex w-full cursor-pointer flex-col justify-between gap-2 rounded-md border border-neutral-700 px-4 py-2 transition-all duration-300 hover:-translate-y-2 hover:border-neutral-400 md:flex-row md:items-center">Go to repo <Icon name="arrow-up-right" /></a>}
      </div>
    </header>
    <Markdown of={raw}/>
  </main>
</Layout>
